/* Hide scrollbar by default */
::-webkit-scrollbar {
    display: none;
  }
  
  /* Show scrollbar when content is scrolled */
  ::-webkit-scrollbar-thumb {
    display: none;
  }
  
  /* Show scrollbar track when content is scrolled */
  ::-webkit-scrollbar-track {
    display: none;
  }
  
  /* Define scrollbar track style */
  ::-webkit-scrollbar-track-piece {
    background-color: transparent; /* Change as needed */
  }
  
  /* Define scrollbar thumb style */
  ::-webkit-scrollbar-thumb {
    display: block;
    background-color: #7052ff; /* Purple color */
    width: 6px; /* Reduced width */
    border-radius: 3px; /* Rounded corners */
  }
  
  /* Show scrollbar when content is hovered */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #4c36c8; /* Darker shade of purple on hover */
  }
  