::-webkit-scrollbar {
    display: none;
  }
  
  ::-webkit-scrollbar-thumb {
    display: none;
  }
  
  ::-webkit-scrollbar-track {
    display: none;
  }
  
  ::-webkit-scrollbar-track-piece {
    background-color: transparent; 
  }
  
  ::-webkit-scrollbar-thumb {
    display: block;
    background-color: #7052ff;
    width: 6px; 
    border-radius: 3px; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #4c36c8; 
  }
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    backdrop-filter: blur(10px);
  }
  